priority -30

# Chinese {{{1 #
snippet '\s*;' "myUltiSnips" brA
　　$0
endsnippet
snippet 、、 "myUltiSnips" iA
 \\\\$0
endsnippet
# 1}}} Chinese #

snippet book "myUltiSnips" b
BookmarkBegin
BookmarkTitle: ${1:1}
BookmarkLevel: ${2:1}
BookmarkPageNumber: $3
book$0
endsnippet

