priority -30

snippet sec "myUltiSnips" b
= $1 =
$0
endsnippet
snippet ss "myUltiSnips" b
== $2 ==
$0
endsnippet
snippet sss "myUltiSnips" b
=== $3 ===
$0
endsnippet
snippet par "myUltiSnips" b
==== $4 ====
$0
endsnippet
snippet sp "myUltiSnips" b
===== $5 =====
$0
endsnippet
snippet ssp "myUltiSnips" b
====== $6 ======
$0
endsnippet
snippet bold "myUltiSnips" i
*$1*$0
endsnippet
snippet ita "myUltiSnips" i
_$1_$0
endsnippet
snippet link "myUltiSnips" i
[[$1]]$0
endsnippet

