priority -30

snippet zi "myUltiSnips" b
zinit ice lucid wait${1:=!}$2
zinit light ${3:${VISUAL}}
$0
endsnippet

snippet as "myUltiSnips" i
as=${1:p}${1/(p)$|(c)$|(n)$|(.*)/(?1:rogram)(?2:ompletion)(?3:ull)/}$0
endsnippet

snippet cp "myUltiSnips" i
cp='$0'
endsnippet

snippet at "myUltiSnips" i
atclone='$0'
endsnippet

